#reset{
    visibility: hidden;
}

h3{
    visibility:hidden;
}

.flex-container{
    display:flex;
    justify-content: center;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTJm9bUsk5L6fBkiOUGSDv9FBOKDZfVeYHJdw&usqp=CAU    ");
}

.instructions{
    text-align: center;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#audio{
    display:none;
}